html {
  font-family: system-ui, sans-serif;
  background: #13151a;
  background-size: 224px;
  overflow-y: scroll;
}

body {
  margin: 0 auto;
  padding: 1rem;
  width: 800px;
  max-width: calc(100% - 4rem);
  color: white;
  font-size: 20px;
  line-height: 1.6;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  margin-bottom: 1em;
  color: rgba(71, 197, 255, 0.824);
}

/* nav styles */

.menu {
  padding-right: 20px;
  cursor: pointer;
}

.menu .line {
  display: block;
  width: 30px;
  height: 3.5px;
  margin-bottom: 8px;
  background-color: #ff9776;
  border-radius:5px;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #514440;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 5px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #6f554d;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 10em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .menu {
    display: none;
  }
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  background: #0088ff3a;
  padding: 0.1rem 0.3rem;
  border-radius: 3px;
}

a {
  color: rgb(255, 171, 60);
  text-decoration: none;
  padding: 0.3rem;
}

a:hover {
  text-underline-offset: 0.2rem;
  text-decoration: underline;
}

/* Ul */
.custom-list {
  list-style: none;
  /* Eliminar las viñetas predeterminadas */
  padding: 0;
  /* Eliminar el relleno predeterminado de la lista */
}

.custom-list li {
  position: relative;
  padding-left: 40px;
  /* Espacio a la izquierda para la viñeta personalizada */
}

.custom-list li::before {
  content: "\2022";
  /* Código Unicode para un círculo lleno */
  color: rgb(227, 130, 113);
  /* Color de la viñeta */
  font-size: 40px;
  /* Tamaño del círculo personalizado */
  position: absolute;
  left: 15px;
  top: -18px;
}
/* MODO DARK */
html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

/* SCROLL */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #13151a;
}

::-webkit-scrollbar-thumb {
  background-color: #ab5353;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ca3d3d;
}
