/* * {
  box-sizing: border-box;
} */

html {
  font-family: system-ui, sans-serif;
  background: #13151a;
  background-size: 224px;
  overflow-y: scroll;
}

body {
  margin: auto;
  padding: 1rem;
  width: 800px;
  max-width: calc(100% - 4rem);
  color: white;
  font-size: 20px;
  line-height: 1.6;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  margin-bottom: 1em;
  color: rgba(71, 197, 255, 0.824);
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  background: #0088ff3a;
  padding: 0.3rem;
  border-radius: 3px;
}

a {
  color: rgb(255, 171, 60);
  text-decoration: none;
}

a:hover {
  text-underline-offset: 0.2rem;
  text-decoration: underline;
}

/* Ul */
.custom-list {
  list-style: none;
  /* Eliminar las viñetas predeterminadas */
  padding: 0;
  /* Eliminar el relleno predeterminado de la lista */
}

.custom-list li {
  position: relative;
  padding-left: 40px;
  /* Espacio a la izquierda para la viñeta personalizada */
}

.custom-list li::before {
  content: "\2022";
  /* Código Unicode para un círculo lleno */
  color: tomato;
  /* Color de la viñeta */
  font-size: 40px;
  /* Tamaño del círculo personalizado */
  position: absolute;
  left: 15px;
  top: -18px;
}

/* SCROLL */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #13151a;
}

::-webkit-scrollbar-thumb {
  background-color: #ab5353;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ca3d3d;
}
