---
import Layout from '../../layouts/Layout.astro';
const allPost = await Astro.glob("../posts/*.md");
const tags = [...new Set(allPost.map((post) => post.frontmatter.tags).flat())]
const title = "Índice de etiquetas"
---
<Layout title={title}>
  <div class="tags">
    {tags.map((tag) =>
    (<p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
</Layout>

<style>
  a {
    color: #92aac1;
    text-decoration: none;
  }

  a:hover {
    color: #152737;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tag {
    margin: 0.25em;
    border: solid 2px #233751;
    border-radius: .3em;
    padding: .01em .01em;
    font-size: .9em;
    background-color: #3a566f6e;
  }

.tag:hover {
background-color: #6392bbb5;
}
</style>