---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hexágono || Acerca de">

  <body>
    <a href="/">Inicio </a>
    <a href="/about/">Acerca de </a>
    <a href="/blog/">Blog</a>

    <h1>ACERCA DE</h1>
    <h2>... ¡Gramaphenicos!</h2>

    <p>El diseño 3D es una disciplina creativa y técnica que se ha convertido en una parte integral de diversas
      industrias, desde la animación y los videojuegos hasta la arquitectura y la medicina. Esta técnica permite la
      creación de objetos y escenas tridimensionales en un entorno virtual, lo que abre un mundo de posibilidades para
      la expresión artística y la resolución de problemas.</p>

    <p>En el corazón del diseño 3D se encuentra el software especializado, que permite a los diseñadores modelar,
      texturizar y animar objetos y entornos en tres dimensiones. Uno de los programas más populares en este ámbito es
      Blender, una herramienta de código abierto que ha ganado reconocimiento por su versatilidad y comunidad de
      usuarios activa. Otras soluciones incluyen Autodesk Maya y Cinema 4D, que son ampliamente utilizadas en la
      industria del cine y la publicidad.</p>
  </body>
</Layout>

<style>
  body {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  a {
    color: rgb(255, 171, 60);
    padding: .5rem;
    text-decoration: none;
  }

  a:hover{
    text-underline-offset: .2rem;
    text-decoration: underline;
  }
</style>