---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Hexágono"
---

<Layout title={pageTitle}>
	<body>
		<a href="/">Inicio</a>
		<a href="/about/">Acerca de</a>
		<a href="/blog/">Blog</a>

		<h1>Hexágono</h1>
		<p>
			Material completoen:
			<a href="https://conceptohexagono.com/">https://conceptohexagono.com/</a><br />
			<strong>3D:</strong> Gramaphenia
		</p>

	</body>
</Layout>

<style>
	h1 {
		font-size: 3rem;
	}
	a{
		padding: .3rem;
	}
</style>