---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hexágono || inicio">
	<body>

		<a href="/">Inicio </a>
		<a href="/about/">Acerca de </a>
		<a href="/blog/">Blog</a>

		<h1>Bienvenido a <span class="">hexagono</span></h1>
		<p class="">
			Material completo en: <code
				class=""><a href="https://conceptohexagono.com/">https://conceptohexagono.com/</a></code><br />
			<strong>3D:</strong> Gramaphenia
		</p>

	</body>
</Layout>

<style>
	body {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		font-size: 4rem;
		font-weight: 900;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

</style>